{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container mt-5 col-lg-6 col-sm-12">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}

		{% for flash_info in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ flash_info }}</div>
		{% endfor %}


		<div class="card">
			<form method="post">
				<div class="card-header">
					<h1 class="card-title">Connexion</h1>
				</div>
				<div class="card-body">
					<div class="form-floating mb-3">
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
						<label for="email">Email</label>
					</div>

					<div class="form-floating mb-3">
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
						<label for="password">Mot de passe</label>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="d-flex justify-content-between">
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" name="_remember_me">
							<label class="form-check-label" for="_remember_me">Se souvenir de moi</label>
						</div>
						<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
					</div>


					<button type="submit" class="btn btn-primary w-100">Se connecter</button>
					<div class="d-flex justify-content-center mt-4 gap-1">
						<p>Pas encore inscrit ?
						</p>
						<a href="{{path("app_register")}}">S'inscrire</a>
					</div>

				</div>
			</form>
		</div>
	</div>
{% endblock %}
